.root {
    -fx-background-image: url("../../../../../../../../NewLab7/src/main/resources/com/example/lab7.gui/images/windows_xp.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
