/*.table-view {*/
    /*-fx-background-color: rgba(255, 255, 255, 0.8);*/
    /*-fx-background-image: url("images/windows_xp.jpg");*/
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-size: cover;*/
/*}*/

.table-row-cell {
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.root {
    -fx-font-family: 'Comic Sans MS';
}