.color {
    background-color: white;
}

.border {
    display: flex;
    width: 550px;
    border: 1px solid;
}

p {
    margin: 0 50px;
}

img {
    border: 25px solid #00ffff;
    height: 200px;
    width: 165px;
}

li {
    float: left;
    margin: 10px;
    align-items: center;
    list-style-type: none;
}
