body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 10px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}