<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="ConnectionString" value="Server=LAPTOP-C75FCJ0Q; Database=Filme; Integrated Security=true;"/>
		<add key="WindowTitle" value="Aplicatie Filme" />
		<add key="ChildTable" value="Filme"/>
		<add key="ParentPrimaryKey" value="RegizorID"/>
		<add key="ChildForeignKey" value="RegizorID"/>
		<add key="ChildPrimaryKey" value="FilmID"/>
		<add key="ChildColumns" value="FilmID,Titlu,DataLansare,Descriere,ContentRating,UserRating,Buget,Incasari"/>
		<add key="ParentQuery" value="SELECT * FROM Regizori"/>
		<add key="ChildQuery" value="SELECT FilmID, Titlu, DataLansare, Descriere, ContentRating, UserRating, Buget, Incasari FROM Filme WHERE RegizorID = @ParentId"/>
		<add key="ChildInsertQuery" value="INSERT INTO Filme (Titlu, DataLansare, Descriere, ContentRating, UserRating, Buget, Incasari, RegizorID) VALUES (@Titlu, @DataLansare, @Descriere, @ContentRating, @UserRating, @Buget, @Incasari, @ParentId)"/>
		<add key="ChildUpdateQuery" value="UPDATE Filme SET Titlu = @Titlu, DataLansare = @DataLansare, Descriere = @Descriere, ContentRating = @ContentRating, UserRating = @UserRating, Buget = @Buget, Incasari = @Incasari WHERE FilmID = @PrimaryKeyValue"/>
	</appSettings>
</configuration>